body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 1120px) minmax(16px, 1fr);
  font-family: "atkinson", sans-serif;

  & > main {
    padding-top: 80px;
  }

  & > * {
    grid-column: 2 / 3;
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1.75s;
}