@use "../core" as core;
@use "../helpers" as helpers;
@use "../component-helpers" as components;

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 80px;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: .25fr 1fr;
  color: core.colorfunction(white, base);
  background-color: rgba(core.colorfunction(white, base), 0.55);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid core.colorfunction(green, dark25);
  z-index: 55;
  @extend %animate-helper;
}

.back-button {
  grid-column: 1 / 2;
  @extend %header-button;
    display: grid;
  svg {
    @extend %header-button-svg;
    fill: core.colorfunction(green, base);
  }
  &-text {
    font-weight: 700;
    color: core.colorfunction(green, base);
    &:hover {
      color: core.colorfunction(blue, dark35);
      text-shadow: 0px 0px 7px core.colorfunction(blue, base);
    }
  }
}

.title {
  grid-column: 2 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  &-logo {
    justify-self: end;
    align-self: center;
  }
  &-text {
    justify-self: start;
    align-self: center;
    text-decoration: none;
    color: core.colorfunction(green, base);
    font-size: var(--step-h3);
    &:hover {
      color: core.colorfunction(green, dark25);
      text-shadow: 0px 0px 7px core.colorfunction(green, light25);
    }
    @include helpers.tablet-breakpoint {
      font-size: var(--step-3);
      justify-self: start;
    }
  }
}
