
@font-face {
  font-family: "assistant";
  src: local("assistant"), url("/fonts/assistantLight.woff") format("woff");
  font-display: swap;
}

/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--p-sm-x: clamp(0.6944rem, 0.6611rem + 0.1481vw, 0.8rem);
  --step--p-sm: clamp(0.8333rem, 0.7807rem + 0.2339vw, 1rem);
  --step-p: clamp(1rem, 0.9211rem + 0.3509vw, 1.25rem);
  --step-h5: clamp(1.2rem, 1.0855rem + 0.5088vw, 1.5625rem);
  --step-h4: clamp(1.44rem, 1.278rem + 0.7202vw, 1.9531rem);
  --step-h3: clamp(1.728rem, 1.5027rem + 1.0013vw, 2.4414rem);
  --step-h2: clamp(2.0736rem, 1.7647rem + 1.3729vw, 3.0518rem);
  --step-h1: clamp(2.4883rem, 2.0695rem + 1.8616vw, 3.8147rem);
}


p, a, ul, ol, li, button, table {
  font-size: var(--step-p);
}
h1 {
  font-size: var(--step-h1);
}
h2 {
  font-size: var(--step-h2);
}
h3 {
  font-size: var(--step-h3);
}
h4 {
  font-size: var(--step-h4);
}
h5 {
  font-size: var(--step-h5);
}