   {#########################################}
  {# Back Button #}
  {#########################################}
  {% set js %}
    {% include "../../js/inline/backbutton.js" %}
  {% endset %}
  <!-- back button behavior -->
  <script>
    {{ js | jsmin | safe }}
  </script>  
  
  {#########################################}
  {# Home Page Behavior #}
  {#########################################}
  {% if page.fileSlug == '' %}
    <!-- home login behavior -->
    {% set js %}
      {% include "../../js/inline/login.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  {% endif %}

  {#########################################}
  {# Create Page Behavior #}
  {#########################################}
  {% if page.fileSlug == 'create' %}
    <!-- recipe creation behavior -->
    {% set js %}
      {% include "../../js/inline/create.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  {% endif %}

  {#########################################}
  {# List Page Behavior #}
  {#########################################}

  {% if page.fileSlug == 'list' %}
    {# {% set js %}
      {% include "../../js/inline/list.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script> #}

    <!-- list search behavior -->
    {% set js %}
      {% include "../../js/inline/search-list-new.js" %}
    {% endset %}
    <script type="module">
      {{ js | jsmin | safe }}
    </script>

    <!-- scroll button behavior -->
    {% set js %}
      {% include "../../js/inline/scroll-top.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  {% endif %}

  {#########################################}
  {# Recipe Page Behavior #}
  {#########################################}
  {% if page.fileSlug == 'recipe' %}
    <!-- recipe page behavior -->
    {% set js %}
      {% include "../../js/inline/recipe.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
    <!-- screen wake behavior -->
    {% set js %}
      {% include "../../js/inline/wake-screen.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  {% endif %}