@use "../core" as core;
@use "../helpers" as helpers;

%dialog {
  position: absolute;
  width: 95VW;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 16px;
  background-color: core.colorfunction(white, light75);
  border: 1px solid core.colorfunction(green, base);
  border-radius: 10.4px;
  top: -100%;
  &[open] {
    @extend %animate-helper;
    transform: translateY(55%);
    &::backdrop {
      animation: 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards show-backdrop;
    }
  }
  &:not([open]) {
    @extend %animate-helper;
    transform: translateY(-95%);
  }
  &::backdrop {
    background: rgba(core.colorfunction(blue, base), 0.35);
    backdrop-filter: blur(0.2rem);
  }
}