@use "../core" as core;

%dialog {
  opacity: 1;
  scale: 1;
  transition: 
    opacity 0.2s ease-out,
    scale 0.2s ease-out,
    overlay 0.2s ease-out allow-discrete,
    display 0.2s ease-out allow-discrete;
    height: 75vh;
    overflow: scroll;
  border: 1px solid core.colorfunction(green, base);
  border-radius: 10.4px;

  &:not([open]) {
    opacity: 0;
    scale: 0.90;
    &::backdrop {
      background-color: rgba(0, 0, 255, 0);
    }
  }

  @starting-style {
    opacity: 0;
    scale: 0.90;
  }

  /* now do backdrop */
  &::backdrop {
    background-color: rgba(core.colorfunction(green, base), 0.10);
    backdrop-filter: blur(0.2rem);
    transition: 
      background-color 0.2s ease-out,
      overlay 0.2s ease-out allow-discrete,
      display 0.2s ease-out allow-discrete;
    @starting-style {
      background-color: rgba(0, 0, 255, 0);
    }
  }
}