@use "../component-helpers" as components;
@use "../helpers" as helpers;
@use "../core" as core;

.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: space-around;
  padding: 124px 0px 124px 0px;
  &-search {
    position: relative;
    background-color: core.colorfunction(blue, light85);
    &-label {
      position: absolute;
      width: max-content;
      top: -27px;
      left: 35px;
    }
    &-input {
      line-height: 3.5rem;
      width: 100%;
      padding-left: 16px;
      background: transparent;
      border-radius: 16px;
      border: 1px solid core.colorfunction(blue, base);
      color: inherit;
      cursor: pointer;
      &:focus {
          outline: none;
          background: transparent;
      }
      &:active {
        outline: none;
      }
    }
    & svg {
      position: absolute;
      left: 10px;
      top: -26px;
      fill: core.colorfunction(blue, light25);
      height: 24px;
      width: 24px;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid core.colorfunction(green, base);
    // border-radius: 16px;
  }
  &-icon {
    width: 40px;
    height: 40px;
    fill: core.colorfunction(green, base);
  }
  &-header {
    padding-left: 16px;
    // border-bottom: 1px solid core.colorfunction(green, base);
    font-weight: 700;
  }
  &-card {
    // display: grid;
    // grid-template-columns: 70% 15% 15%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    padding: 8px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    &:first-of-type {
      margin-top: 16px;
    }
    border-radius: 8px;
    background-color: rgba(core.colorfunction(green, base), .15);
    &-text {
      align-self: center;
    }
    &-link {
      text-align: center;
      align-self: flex-end;
      text-decoration: none;
      color: inherit;
    }
    &-icon {
      align-self: flex-start;
    }
  }
}

.selected {
  opacity: 1;
}
.is-hidden {
  display: none;
}

input[type="search" i]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  margin-left: 8px;
  stroke-width: 1px;
  stroke-linecap: round;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='red'><path d='M202.829 197.172a4 4 0 1 1-5.658 5.656L128 133.658l-69.171 69.17a4 4 0 0 1-5.658-5.656L122.343 128 53.171 58.828a4 4 0 0 1 5.658-5.656L128 122.342l69.171-69.17a4 4 0 0 1 5.658 5.656L133.657 128Z'/></svg>");
  cursor: pointer;
}

.scroller {
  // display: none;
  opacity: 0;
  position: fixed;
  right: 0px;
  bottom: 32px;
  width: 65px;
  height: 65px;
  border-radius: 30% 0% 0% 30%;
  background-color: rgba(core.colorfunction(green, base), 0.55);
  border-left: 1px solid core.colorfunction(green, dark25);
  border-top: 1px solid core.colorfunction(green, dark25);
  border-bottom: 1px solid core.colorfunction(green, dark25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
  cursor: pointer;
  z-index: 350;
  @extend %animate-helper;
  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 17px;
    transform: rotate(45deg);
    background: transparent;
    border-top: .3em solid core.colorfunction(white, light35);
    border-left: .3em solid core.colorfunction(white, light35);
  }
  &-visible {
    // display: block;
    opacity: 1;
  }
  & p {
    position: absolute;
    top: 30px;
    left: 13px;
    color: core.colorfunction(white, light35);
    font-weight: 700;
  }
}

// https://beyond-the-cascade.com/css-only-animated-accordion/
details {
  inline-size: 100%;

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 1s allow-discrete, opacity 1s, block-size 1s;
  }

  &:open::details-content {
    opacity: 1;
    block-size: auto;
  }
}

details[open]{
  & .list-header-svg {
  transform: rotate(180deg);
  }
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  // padding-inline: 1.5rem;
  padding-block: 1.25rem;
  list-style: none;
  border-bottom: 1px solid core.colorfunction(green, base);

  // &::-webkit-details-marker {
  //   display: none;
  // }
}

.home-search-results {
    opacity: 0;
    visibility: hidden;
    @extend %box-shadow;
    inline-size: calc(100% + 1px);
    z-index: 999;
    transition: opacity 0.5s, visibility 0.5s, transform 0.6s;
    transform: scale(0.75) translateY(-16px);
    border: 1px solid core.colorfunction(blue, base);
    border-radius: 8px;
    background: core.colorfunction(white, base);
    overflow-y: scroll;
    align-self: flex-start;
    height: 0;
    min-height: 0;
    &-active {
      opacity: 1;
      visibility: visible;
      height: auto;
      min-height: auto;
      max-height: 300px;
    }
    &-link {
      display: block;
      text-decoration: none;
      color: core.colorfunction(black, base);
      font-weight: 700;
      text-align: left;
      padding: 16px 8px 16px 8px;
      border-bottom: 1px solid core.colorfunction(blue, base);
      &:nth-child(even) {
        background: core.colorfunction(white, light65);
      }
      & span {
        margin-left: 48px;
      }
    }
}
