@use "../component-helpers" as components;
@use "../helpers" as helpers;
@use "../core" as core;


.recipe {
  padding-bottom: 224px;
  &-header {
    margin-bottom: 32px;
    padding: 8px;
    border-bottom: 1px solid rgba(core.colorfunction(green, base), 0.95);
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(core.colorfunction(green, base), 0.95);
  }
  &-button {
    width: 40%;
    padding: 0px 8px;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid core.colorfunction(blue, dark25);
    border-radius: 8px;
    background-color: rgba(core.colorfunction(green, base), 0.15);
    font-size: var(--step-h5);
    &-active {
      font-weight: 700;
      background-color: rgba(core.colorfunction(green, base), 0.55);
    }
  }
  &-panel {
    display: none;
    &-active {
      display: block;
      margin-bottom: 124px;
    }
    &-ingredients {
      display: block;
    }
  }
  &-table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    &-row {
      line-height: 3rem;
      border-bottom: 1px solid rgba(core.colorfunction(green, base), 0.95);
      &-ingredient {
        text-align: left;
        font-weight: 700;
        border-right: 1px solid core.colorfunction(green, base);
      }
      &-standard {
        border-right: 1px solid core.colorfunction(green, base);
      }
      & td {
        text-overflow: ellipsis;
      }
    }
  }
  &-procedure {
    list-style-position: inside;
    font-size: var(--step-h5);
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid core.colorfunction(green, light25);
    border-radius: 8px;
    &::marker {
      font-weight: 700;
      padding-right: 16px;
    }
    &-list {
      margin-top: 16px;
    }
  }
  &-note {
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid core.colorfunction(green, light25);
    border-radius: 8px;
    font-size: var(--step-h5);
    &-list {
      margin-top: 16px;
    }
  }
}

.wake-screen-button {
  display: none;
  position: fixed;
  left: 22%;
  bottom: 0px;
  width: 250px;
  height: 50px;
  background-color: rgba(core.colorfunction(green, base),0.55);
  border-radius: 30% 30% 0% 0%;
  border-top: 1px solid core.colorfunction(green, dark25);
  border-right: 1px solid core.colorfunction(green, dark25);
  border-left: 1px solid core.colorfunction(green, dark25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  cursor: pointer;
  &-active {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
  }
  & svg {
    grid-column: 1 / 2;
    justify-self: end;
    height: 55%;
    fill: inherit;
  }
  &-text {
    grid-column: 2 / 3;
    padding-left: 16px;
    font-weight: 700;
  }
  &[data-status="on"] {
    &>svg {
      fill: core.colorfunction(white, base);
    }
  }
}

.scroller {
  // display: none;
  opacity: 0;
  position: fixed;
  right: 0px;
  bottom: 32px;
  width: 65px;
  height: 65px;
  border-radius: 30% 0% 0% 30%;
  background-color: rgba(core.colorfunction(green, base), 0.55);
  border-left: 1px solid core.colorfunction(green, dark25);
  border-top: 1px solid core.colorfunction(green, dark25);
  border-bottom: 1px solid core.colorfunction(green, dark25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
  cursor: pointer;
  z-index: 350;
  @extend %animate-helper;
  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 17px;
    transform: rotate(45deg);
    background: transparent;
    border-top: .3em solid core.colorfunction(white, light35);
    border-left: .3em solid core.colorfunction(white, light35);
  }
  &-visible {
    // display: block;
    opacity: 1;
  }
  & p {
    position: absolute;
    top: 30px;
    left: 13px;
    color: core.colorfunction(white, light35);
    font-weight: 700;
  }
}