    <!-- The Essential Links -->
    <link rel="icon" href="https://bierhallrecipes.com/favicon.ico" type="image/x-icon">
    <link rel="author" href="https://www.moosedog.io">
    <link rel="canonical" href="https://bierhallrecipes.com{{ page.url }}">
    {# <link rel="manifest" href="/manifest.webmanifest"> #}