
    <meta name="description" content="Lightweight and Elegant Recipe Storage" />

    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bierhall Recipes">
    <meta name="apple-mobile-web-app-title" content="Bierhall Recipes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="theme-color" content="#5b6dc8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Because Microsoft Exists -->
    <meta name="msapplication-starturl" content="bierhallrecipes.com">
    <meta name="msapplication-config" content="/img/dk-icns/browserconfig.xml">
    <meta name="msapplication-navbutton-color" content="#5b6dc8">
    <meta name="msapplication-TileColor" content="#5b6dc8">

    <!-- Share The Love -->
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- Chrome for Android Add To Homescreen -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Chrome for Android Tool Bar Color -->
    <meta name="theme-color" content="#5b6dc8">

    <!-- OG Image-->
    <meta property="og:image" content="https://bierhallrecipes.com/img/recipes-og.png" />
