  {% include 'components/head-element.njk' %}

  <body>
    
    {% include "components/header.njk" %}

    <main class="{{ page.fileSlug or 'home' }}" >

      {{ content | safe }}

    </main>

      {% include "components/inlines.njk" %}
      
  </body>