---
layout: layouts/base.njk
title: Create A Recipe
permalink: "/pages/list.html"
---


{% include "components/search-box.njk" %}

{% for category in categories %} {# this comes from the categories global _data directory #}
  <section class="list-section" data-category="{{ category.value }}">
    <h2 class="list-header fluid-text fluid-text--50">{{ category.text }}</h2>
  </section>
{% endfor %}


{% include "components/scroll-button.njk" %}

{# <pre>{{ recipes | dump }}</pre> #}