---
# use pagination to create all the one-off pages I will need
tags: recipePages
pagination:
  data: recipes
  size: 1
  alias: recipe
  addAllPagesToCollections: true
permalink: "/recipes/{{ recipe.pageslug }}.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ recipe.name }}"
---

<h1 class="recipe-header">{{ recipe.name }}</h1>

<buttons-row class="recipe-buttons">
  {# <button class="recipe-button recipe-button-active" data-source="ing">Ingredients</button> #}
  <button class="recipe-button" data-source="proc">Procedures</button>
  <button class="recipe-button" data-source="no">Notes</button>
</buttons-row>

<section class="recipe-section" data-target="ing">

  <div class="recipe-top">
    <p class="recipe-top-standard">Standard</p>
    <p class="recipe-top-slow">Slow</p>
    <p class="recipe-top-busy">Busy</p>
    <p class="recipe-top-measure">Measure</p>
  </div>


    {% for ingredient in recipe.ingredients %}
      <div class="recipe-ingredients">
        <p>{{ ingredient.ingredient }}</p>
        <p>{{ ingredient.amountstandard }}</p>
        <p>{{ ingredient.amountslow }}</p>
        <p>{{ ingredient.amountbusy }}</p>
        <p>{{ ingredient.measurement }}</p>
      </div>
    {% endfor %}
</section>

<panels-row class="recipe-panels">
  <section class="recipe-panel" data-target="proc">
    <ol class="recipe-procedure-list">
      {% for procedure in recipe.procedures %}
        <li class="recipe-procedure">{{ procedure.procedure }}</li>
      {% endfor %}
    </ol>
  </section>
  <section class="recipe-panel" data-target="no">
    <ul class="recipe-note-list">
      {% for note in recipe.notes %}
        <li class="recipe-note">{{ note.note }}</li>
      {% endfor %}
    </ul></section>
</panels-row>

{% include "components/scroll-button.njk" %}

<div class="wake-screen-button" data-status="off">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,2H2A1,1,0,0,0,1,3V17a1,1,0,0,0,1,1h9v2H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2H13V18h9a1,1,0,0,0,1-1V3A1,1,0,0,0,22,2ZM21,16H3V4H21Z"/></svg>
	<p class="wake-screen-button-text">Keep Screen Awake</p>
</div>