---
# use pagination to create all the one-off pages I will need
tags: recipePages
pagination:
  data: recipes
  size: 1
  alias: recipe
  addAllPagesToCollections: true
permalink: "/recipes/{{ recipe.pageslug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ recipe.name }}"
---

<h1 class="recipe-header fluid-text fluid-text--50">{{ recipe.name }}</h1>

<buttons-row class="recipe-buttons">
  <button class="recipe-button recipe-button-active fluid-text fluid-text--20" data-source="ing">Ingredients</button>
  <button class="recipe-button fluid-text fluid-text--20" data-source="proc">Procedures</button>
  <button class="recipe-button fluid-text fluid-text--20" data-source="no">Notes</button>
</buttons-row>

<panels-row class="recipe-panels">
  <section class="recipe-panel recipe-panel-active" data-target="ing">
    <table class="recipe-table">
      <tbody>
        <tr class="recipe-table-header fluid-text fluid-text--0">
          <th></th>
          <th>Slow</th>
          <th>Busy</th>
          <th>Standard</th>
          <th>Measure</th>
        </tr>
        <tr style="height: 16px;"></tr>
        {% for ingredient in recipe.ingredients %}
          <tr class="recipe-table-row fluid-text fluid-text--10">
            <td class="recipe-table-row-ingredient">{{ ingredient.ingredient }}</td>
            <td>{{ ingredient.amountslow }}</td>
            <td>{{ ingredient.amountbusy }}</td>
            <td>{{ ingredient.amountstandard }}</td>
            <td>{{ ingredient.measurement }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="recipe-panel" data-target="proc">
    <ol class="recipe-procedure-list">
      {% for procedure in recipe.procedures %}
      <li class="recipe-procedure">{{ procedure.procedure }}</li>
      {% endfor %}
    </ol>
  </section>
  <section class="recipe-panel" data-target="no">
    <ul class="recipe-note-list">
      {% for note in recipe.notes %}
      <li class="recipe-note">{{ note.note }}</li>
      {% endfor %}
    </ul></section>
</panels-row>